parameters:
  level: 8
  paths:
    - src
    - tests
  bootstrapFiles:
    - vendor/autoload.php
  tmpDir: .cache/phpstan
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    -
      message: '#should be contravariant with parameter \$options \(array\) of method Symfony\\Component\\Validator\\Constraints\\Compound\:\:getConstraints\(\)$#'
      paths:
        - src/Validator/Constraints/*
includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
