parameters:
  level: 8
  paths:
    - src
    - tests
  bootstrapFiles:
    - vendor/autoload.php
  tmpDir: .cache/phpstan
  ignoreErrors:
    -
      identifier: staticMethod.dynamicCall
      paths:
        - tests/*
includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
